.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input{
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
}